@import "tailwindcss";

:root {
  --color-dark: #1a1c20;
  --color-light: #e4e4e4;
  --color-accent: #2EBD85 /* #036630*/;
  --color-lightdark: #2a2b30;
  --color-darklight: #dddddd;
  --color-text-dark: #2a2f38;
  --color-text-light: #DDD;
  --color-text-accent: #2EBD85;
  --color-scrollbar-track-dark: #27272A;
  --color-scrollbar-track-light: #c4c4c4;
  --color-scrollbar-thumb: #2EBD85 ;
  --color-scrollbar-thumb-hover: #555;
  --color-chart-bg-dark: #1a1c20;
  --color-chart-bg-light: #e4e4e4;
  --color-chart-text-dark: #DDD;
  --color-chart-text-light: #000;
  --btn-bg: var(--color-lightdark);
}

body {
  background-color: var(--color-dark);
}

[data-theme="dark"] {
  --bg-color: var(--color-dark);
  --text-color: var(--color-text-light);
  --chart-bg-color: var(--color-chart-bg-dark);
  --chart-text-color: var(--color-chart-text-dark);
  --scrollbar-track-color: var(--color-scrollbar-track-dark);
  --bg-lightdark: var(--color-lightdark);
  --btn-bg: var(--color-lightdark);

}

[data-theme="light"] {
  --bg-color: var(--color-light);
  --text-color: var(--color-text-dark);
  --chart-bg-color: var(--color-chart-bg-light);
  --chart-text-color: var(--color-chart-text-light);
  --scrollbar-track-color: var(--color-scrollbar-track-light);
  --bg-lightdark: var(--color-darklight);
  --btn-bg: var(--color-darklight);

}

@layer base {
  /* Ihre Basiskonfiguration */
}

@layer components {
  /* Ihre Komponenten */
}

@layer utilities {
  /* Ihre Utilities */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  border-radius: 10px;
  border: 2px solid var(--scrollbar-track-color);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-thumb-hover);
}

/* eigene tailwindklassen hier weil tailwind config nciht geht -.- */
.bg-dark {
  background-color: var(--bg-color) !important;
}
.bg-light {
  background-color: var(--bg-color) !important;
}
.text-dark {
  color: var(--color-text-dark) !important;
}
.text-light {
  color: var(--color-text-light) !important;
}
.bg-accent {
  background-color: var(--color-accent) !important;
}
.hover\:bg-accent:hover {
  background-color: var(--color-accent) !important;
}
.text-accent {
  color: var(--color-accent) !important;
}
.btn-bg {
  background-color: var(--bg-lightdark) !important;
}
.text-secondary {
  color: var(--color-secondary) !important;
}
.text-swich {
  color: var(--text-color) !important;
}
.inner-shadow {
  box-shadow: var(--inner-shadow) !important;
}

